.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

/* ======== Tablet Landscape ======== */
@media (min-width: 1024px) {
  .about-container {
    align-items: center;
    justify-content: center;
  }
}
