.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
}

.about-header h1 {
  font-size: 4vw;
}

.about-header p {
  font-size: 1.5vw;
  padding: 2rem;
}

.about-me-container {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.about-me {
  width: 50%;
  color: white;
  padding: 1rem;
}

.about-me h2 {
  font-size: 2.5vw;
}

.about-me p {
  font-size: 1.5vw;
  overflow-wrap: break-word;
}

.about-me button {
  margin-top: 2rem;
  cursor: pointer;
}

.about-me button a {
  color: white;
  text-decoration: none;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding: 1rem;
  color: white;
}

.skills h2 {
  font-size: 2.5vw;
}

.skills button {
  width: auto;
  margin: 1rem;
}
