.form-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.input-container {
  width: 50vw;
  margin: 3rem;
}

.input-container input,
.input-container textarea {
  width: 50%;
  color: white;
  padding: 0.8rem;
  background: #07182e;
  border-radius: 10px;
  border-style: none;
  box-shadow: inset 2px 5px 10px #010f22;
}

.input-container textarea {
  width: 100%;
}

.submit-btn {
  position: absolute;
  right: 25%;
  bottom: -5%;
}

/* Mobile Device */
@media screen and (max-width: 768px) {
  .input-container input,
  .input-container textarea {
    width: 100%;
    color: white;
    margin: 0 auto;
  }

  .input-container textarea {
    width: 100%;
  }

  .submit-btn {
    position: absolute;
    right: 50%;
    bottom: -5%;
    transform: translateX(50%);
  }
}
