.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.socials {
  cursor: pointer;
}

/* ======== Tablet Landscape ======== */
@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
  }
}
