.home-section {
  height: 100vh;
  position: relative;
}

/* ============ About Section ============ */
.about-section {
  height: 100vh;
  position: relative;
}

.about-content {
  height: 50%;
  margin: 0 4rem;
}

.about-skills-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

/* ============ Project Section ============ */
.projects-section {
  height: 100vh;
  position: relative;
}

.more-projects {
  position: absolute;
  bottom: 120px;
  right: 50%;
  transform: translateX(50%);
}

/* ============ Contact Section ============ */
.contact-section {
  height: 80vh;
  position: relative;
}

.section-header {
  font-size: 4vw;
  text-align: center;
  color: white;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.summary-text {
  color: white;
  font-size: 1.5vw;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 1rem;
}

/* ============ Scroll Button ============ */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  border: #fff solid 2px;
  border-radius: 100px;
}

.scroll-down::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  animation: scrollDown 1.2s ease-in-out infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

/* Laptop Device */
@media screen and (max-width: 1366px) {
  /* About Section */
  .about-skills-container {
    height: 30%;
  }

  /* Project Section */
  .more-projects {
    position: absolute;
    bottom: 100px;
  }

  /* Contact Section */
  .contact-section {
    height: 100vh;
  }
}

/* Smaller Laptop Device */
@media screen and (max-width: 1280px) {
  /* About Section */
  .about-content p {
    font-size: 16px;
  }

  /* Project Section */
  .more-projects {
    left: 30%;
    bottom: 124px;
    transform: translateX(30%);
  }

  /* Contact Section */
  .contact-section {
    height: 100vh;
  }
}

/* Mobile Device */
@media screen and (max-width: 768px) {
  .section-header {
    font-size: 2rem;
  }

  /* About section */
  .about-content {
    height: 35%;
    margin: 0;
  }

  .about-content h1 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 12px;
    text-align: start;
  }

  .about-skills-container {
    height: 60%;
  }

  /* Project Section */
  .more-projects {
    bottom: 85px !important;
    left: 200px !important;
    width: 80px !important;
    height: 50px !important;
    transform: translateX(20%) !important;
  }
}
