.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #010f22;
  justify-content: space-between;
  color: white;
}

.logo {
  background-color: #010f22;
}

.logo img {
  background: #010f22;
  width: 10%;
  margin-left: 4rem;
}

.nav-links {
  overflow: hidden;
  background: #010f22;
  display: flex;
  align-items: center;
  margin-right: 4rem;
  font-size: 1vw;
}

.nav-links li,
.nav-links a {
  background: #010f22;
  display: inline;
  list-style: none;
  font-size: 2vm;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 4rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: rgb(0, 183, 255);
}
