.projects-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.projects-page-container h1 {
  font-size: 4vw;
  border-bottom: 4px solid rgb(255, 48, 255);
}

/* ================================ Style 1 ================================ */
.style-one-container {
  display: flex;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.project-one-portrait {
  width: 60%;
}

.project-one-portrait img {
  width: 100%;
  border-radius: 10px;
}

.project-one-container {
  position: relative;
  width: 50%;
}

.project-one-container h2 {
  position: absolute;
  right: 32%;
  top: -25%;
}

.project-one-container h4 {
  position: absolute;
  right: 32%;
  bottom: -20%;
}

.project-one-container img {
  position: absolute;
  right: 32%;
  bottom: -35%;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

/* Card is from Uiverse.io by bhaveshxrawat */
.card-one {
  width: 100%;
  background: #07182e;
  position: relative;
  overflow: hidden;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 20px;
  margin-left: -30%;
  padding: 1rem;
}

.card-one p {
  z-index: 1;
  color: white;
  background-color: #07182e;
}

.card-one::before {
  content: "";
  position: absolute;
  width: 800px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 50%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-one::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

/* ================================ Style 2 ================================ */
.style-two-container {
  display: flex;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* ==== Project Image ==== */
.project-two-portrait {
  width: 60%;
}

.project-two-portrait img {
  width: 100%;
  border-radius: 10px;
}

/* ==== Project Text ==== */
.project-two-container {
  position: relative;
  width: 50%;
}

.project-two-container h2 {
  position: absolute;
  left: 32%;
  top: -25%;
}

.project-two-container h4 {
  position: absolute;
  left: 32%;
  bottom: -20%;
}

.project-two-container img {
  position: absolute;
  left: 32%;
  bottom: -35%;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

/* Card is from Uiverse.io by bhaveshxrawat */
.card-two {
  width: 100%;
  background: #07182e;
  position: relative;
  overflow: hidden;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 20px;
  margin-left: 30%;
  padding: 1rem;
}

.card-two p {
  z-index: 1;
  color: white;
  background-color: #07182e;
}

.card-two::before {
  content: "";
  position: absolute;
  width: 800px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 50%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-two::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}
