.project-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 60%;
  margin: 0 auto;
  color: #928e8e;
  gap: 10px;
  background: linear-gradient(to right, rgb(255, 48, 255) 6px, transparent 6px)
      0 0,
    linear-gradient(to left, rgb(0, 183, 255) 6px, transparent 6px) 100% 100%,
    linear-gradient(to bottom, rgb(255, 48, 255) 6px, transparent 6px) 0 0,
    linear-gradient(to top, rgb(0, 183, 255) 6px, transparent 6px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-color: #07182e;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: relative;
}

.proj-display-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
}

.proj-display-title h1 {
  width: 80%;
  border-right: rgb(255, 255, 255) 8px solid;
  cursor: pointer;
}

.proj-display-content {
  width: 50%;
}

.proj-display-content p {
  font-size: 20px;
}

.proj-display-content img {
  padding: 0 2rem;
  width: 100%;
}

.active {
  color: #fff;
}

.project-link-btn {
  position: absolute;
  bottom: 20px;
  left: 5%;
}

/* Laptop Size */
@media screen and (max-width: 1366px) {
  .proj-display-title h1 {
    font-size: 24px;
    height: auto;
  }

  .proj-display-content p {
    font-size: 16px;
  }
}

/* Smaller Laptop Size */
@media screen and (max-width: 1280px) {
  .proj-display-title h1 {
    font-size: 20px;
    height: auto;
  }

  .proj-display-content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .project-display-container {
    flex-direction: column;
    width: 75%;
    height: 80%;
  }

  .proj-display-title {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }

  .proj-display-title h1 {
    width: 80%;
    border: none;
    cursor: pointer;
  }

  .proj-display-content {
    width: 90%;
    height: 60%;
  }

  .proj-display-content p {
    font-size: 12px;
  }

  .project-link-btn {
    bottom: 10px;
    width: 80px;
    height: 50px;
  }
}
